<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754488993341-5crf99ileijc1egeu0cvqa4m76922v8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754488993341-5crf99ileijc1egeu0cvqa4m76922v8o</string>
	<key>API_KEY</key>
	<string>AIzaSyCGj0WTjQM9KkpEhbZnrq2ikZWoyYOfvto</string>
	<key>GCM_SENDER_ID</key>
	<string>754488993341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistema</string>
	<key>PROJECT_ID</key>
	<string>sistema-rick</string>
	<key>STORAGE_BUCKET</key>
	<string>sistema-rick.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754488993341:ios:52e6a43abfa1ec648fec54</string>
</dict>
</plist>